
 .text-danger{
        text-align: center;
}

}
.cuerpo{
    background-color: lightblue;
}   
.nav-item a{
    color: rgb(74, 157, 172);
}
.dropdown-item a{
    color: black;
}      
.introduccion{
    color: black;
    text-align: center;
} 