
 .titulo{
    color: red;
    inline-size: 0,5%;
    color: red;
    text-align: center;
}
.titulo2{
    color: red;
    text-align: center;
}
.cuerpo{
    background-color: lightblue;
}   
.nav-item a{
    color: rgb(74, 157, 172);
}
.dropdown-item a{
    color: black;
}      
.introduccion{
    color: black;
    text-align: center;
} 